
*{
    box-sizing: border-box;

}
body{
   
    max-height: 100vh; 
    font-family:'Raleway', sans-serif;
    margin: 0;


}
main{
    display: none;
    margin: 0;
    width: fit-content;

}
.loader{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 43vh;
    left: 30vw;
    border-radius: 50%;
    border: 3px rgba(255, 255, 255, 0.333) solid;
    border-top:2px rgba(255, 0, 255, 0.37) solid;
    margin: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear 0s infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.circle, .circle-two, .circle-three{
    border-radius: 50%;
    margin: 0;
    border: 3px rgba(255, 255, 255, 0.333) solid;
    
}
.circle-two{
    top: 46vh;
    left: 38vw;
    width: 90px;
    height: 90px;
    position: absolute;
    border-right:3px rgba(255, 0, 255, 0.37) solid;
    -webkit-animation: spin 2s 0.5s linear infinite;
    animation: spin 2s 2s linear infinite;
    animation: spin 1s linear 2.5s infinite;
}
.circle-three{

    width: 110px;
    height: 110px;
    position: absolute;
    top: 45vh;
    left: 35vw;
    border-left:3px rgba(255, 0, 255, 0.333) solid;
    -webkit-animation: spin 2s 0.5s linear infinite;
    animation: spin 1s linear 1.5s infinite;

}
.circle{
    top: 44vh;
    left: 33vw;
    width: 130px;
    height: 130px;
    position:absolute;
    border-bottom:3px rgba(255, 0, 255, 0.333) solid;
    -webkit-animation: spin 2s 0.5s linear infinite;
    animation: spin 1s linear 1s infinite;
 
 
}

.first-section{
    margin: 10px;

}
div {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }


.main-nav{
    display: flex;
    width: 100vw;
    margin: 10px;
    margin-top: 30px;
    justify-content: space-between !important;
    padding: 10px;
}
.hamburger{
    background:none;
    margin: 0;
    margin-top: 10px;
    width: 10vw;
    padding: 0;
}
.first-text{
    font-style: italic;
    margin: 0;
    font-size: 16px;
}
nav{
    margin:0;

    display: flex;
    justify-content: space-between;
}
.cancel{

justify-content: flex-end;
    /* width: 20vw; */
    padding: 1em;
}

.mobile-list{
    display:none;
    flex-direction: column;
    padding: 1em;
    line-height: 5em;
    width: 100vw;
    margin: 0;
    height: 114vh;
    position: absolute;
    background-color: #ffffff;
    list-style: none;

}
li, i{
    cursor: pointer;
}
.nav-list{
    display: flex;
    flex-direction: column;
    margin: 12px;
    font-size: 1.5em;
    font-weight: 600;
}
li:hover{
    transform: translateX(20px);
    transition: 0.5s ease-out;
    color: darkmagenta;
}
.desktop-view{
    display: none;
}
.top-text{
    font-size: 2em;
    margin: 0;
}
.intro-text{
    margin: 10px;
    padding: 10px;
    font-style: normal;
    font-size: 21px;

}
.section-two{
    margin: 15px;
}
i{
    font-style: normal;
}
.btn-one{
    margin: 20px 0px;
    padding: 15px;
    background-color: #FFFFFF;
    color: rgba(62, 19, 62, 0.973);
    border: 1px solid rgba(62, 19, 62, 0.973);
    border-radius: 5px;
}
.btn-one:hover{
    color: white;
    background-color: rgba(62, 19, 62, 0.973);
    transition: 0.5s;
    width: 10vw;
}
.hovered{
    /* background:#000 !important;
    color:#fff !important; */
    border: 2px solid white;
    -webkit-animation-name: wait;
    -webkit-animation-duration: 2s;
    animation-name: wait !important;
    animation-duration: 2s !important;

}
@keyframes wait {
    0%  {  left:0px; top:0px;}
    25%  { left:50px; top:0px;}

    100% { left:0px; top:0px;}
}

    @-webkit-keyframes mymove {
        0%  {  left:0px; top:0px;}
          25%  { left:50px; top:0px;}

          100% { left:0px; top:0px;}
      }

      @keyframes mymove {
       0%  {  left:0px; top:0px;}
          25%  { left:50px; top:0px;}

          100% { left:0px; top:0px;}
      }

.introduction{
    font-size: 3.5rem;
    color: rgba(62, 19, 62, 0.973);
    margin: 0;
    padding: 0;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  .section-three{
      width: 100%;
      display: flex;
      justify-content: center;
      /* border: 2px solid blue; */
  }
.one{
    display: flex;
    justify-content: center;
    height: 27vh;
    /* border: 2px brown solid; */
    border-radius: 40%;
}
.two{
    width: 30vw;
    display: flex;
    justify-content: center;
}
.image{
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.four{
    background: url(./images/30457897.jpg) no-repeat fixed 50%;
    background-position-x: 50%;
    font-family: 'Raleway', sans-serif;

}
.five{
    background: url(./images/29251904.jpg) no-repeat fixed;
    background-size: cover;
    background-position-x: 50%;
    font-family: 'Raleway', sans-serif;

}
.six{
    background: url(./images/32303659.jpg) no-repeat fixed 50%;
    background-position-y: 200px;
    background-position-x: 34%;
    font-family: 'Raleway', sans-serif;

}
.four, .five, .six{
    height: 50vh;
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
    margin-bottom:12px;

}
.overlay {
    background: rgba(36, 51, 58, 0.7);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

   }
   h3, p{
    margin: 25px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

   }
h4{
    color: white;
    font-size: 30px;
}

.img-one{

    width: 90vw;
    height: 50vh;
    object-fit: cover;
    opacity: 0.5;

}
.img{
    width: 100vw;
    border-radius: 10px;
}
.projects-one, .projects-two, .projects-three{
    display: flex;
    flex-direction: column;
    margin: 15px;

}
h2{
    font-size: 2em;
    font-weight: 600;
    margin: 10px;
}
.projects-one-container{
    margin: 10px;
    margin-bottom: 40px;
}
.projects-two, .projects-three, .para{
    display: none;

}
.project-name{
    color: black;
    font-size: 1.3em;
    cursor: pointer;

}
 .project-about, .project-devices, .show{
    font-size: 1.1em;
    margin:  15px 0;
    cursor: pointer;
    display: block;
}
.show{
    display: none;
}




.button{  width: 100vw;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.i{

    font-style: normal;
    background-color: rgba(177, 15, 227, 0.502);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    color: #FFFFFf;


}
.i:hover{
    background-color: #FFFFFF;
    color: black;
}
@keyframes hmm {
    0% {transform: rotate(100deg);}
    100% {transform: rotate(360deg);}
  }
.animation-button{
      background: local;
      border: none;
      color: #FFFFFf;
  }
.animation-button:hover{
    animation: hmm 1s 1;
    color: black;
    cursor: pointer;
    border: none;
    background:none;
}
#second-loader, #third-loader{
    display: none;
}
#dom{
    display: none;
}
.testimonials{
    padding: 12px;
   /* height: 80vh; */
    background-color: rgba(52, 6, 92, 0.658);
    margin: 0 auto;
    font-weight: 300;
}
.test{
    font-size: 1.5em;
    font-weight: 400;
    color: black;
    margin: 10px;
}

.title{
    font-size: 2.5em;
    font-weight: 700;
    margin: 10px;

}
.text, .text-two, .text-three{
    margin:0;
    font-size: 1em;

}
.arrow{
    padding: 0.5em;
    text-align: right;
}
span{
    cursor: pointer;
}
.john{
    margin: 10px;
    text-align: start;
}
.previous:hover, .next:hover{
background-color: rgba(102, 70, 120, 0.404);
padding: 5px;
transition: 0.3s;
border-radius: 50%;
}

.slides{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
   from {transition: 0.7s ease-in; color: black; }
    to {transition: 1.2s ease-out; color: white;}


  }
  footer{
      background-color: rgb(9, 9, 9);
      margin: 0;
  }
  .foot, .footer-contents, .copyright, .footer-contents, .rights{
      color: #FFFFFF;;
      margin: 0;
      font-size: 1em;
      padding: 1em 0;
  }
  .foot{
    font-size: 2em;
    padding-bottom: 0.4em;
  }
  .copyright{
      padding:0;
  }
  hr{
      padding: 0;
  }

  .talk{
      font-size: 1em;
      margin: 0;
  }
  .rights, .footer-contents{
    margin: 0;
  }
  .contact{
      padding: 1em;
      background: none;
      color: #FFFFFF;;
      border: 1px solid white;
      border-radius: 5px;

  }

  @keyframes arrow {
    0%  { left:0px; top:0px;}
    25%  { left:30px; top:0px;}

    100% { left:0px; top:0px;}
  }
   .arrow-two:hover{
position: relative;
      color: black;
      animation: arrow 1s 1;
  }
  .top-footer{
      padding: 1.5em;
  }
  .bottom{
      background-color: black;
      margin: auto 0;
      padding: 0;
  }


