:root{
    --margin:0;
    --one-padding:1em;
    --width: 100vw;
    --width-percentage: 100%;
    --border-circle-white:rgba(255, 255, 255, 0.333) 2px solid;
    --border-circle-color:rgba(255, 0, 255, 0.37) 2px solid;
    --animation-loader: spin 1s linear 0s infinite;
    --animation-circle: spin 1.5s 0.5s linear infinite;
    --border-radius-circle-picture: 50%;
    --ten-px: 10px;
}
*{
    box-sizing: border-box;

}
body{
   
    max-height: 100vh; 
    font-family:'Raleway', sans-serif;
    margin: var(--margin);
}
main{
    display: none;
    width: fit-content;
    margin: var(--margin);
}
.loader{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 43vh;
    left: 30vw;
    border-radius: 50%;
    border: var(--border-color-white);
    border-top:var(--border-circle-color) ;
    margin: var(--margin);
    -webkit-animation: var(--animation-loader);
    animation:var(--animation-loader) ;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.circle, .circle-two, .circle-three{
    border-radius: var(--border-radius-circle-picture);
    margin: var(--margin);
    border:var(--border-color-white);
    
}
.circle-two{
    top: 46vh;
    left: 38vw;
    width: 90px;
    height: 90px;
    position: absolute;
    border-right:var(--border-circle-color);
    -webkit-animation:var(--border-radius-circle-picture);
    animation:var(--border-radius-circle-picture);
}
.circle-three{

    width: 110px;
    height: 110px;
    position: absolute;
    top: 45vh;
    left: 35vw;
    border-left:var(--border-circle-color);
    -webkit-animation:var(--animation-circle);
    animation:var(--animation-circle);

}
.circle{
    top: 44vh;
    left: 33vw;
    width: 130px;
    height: 130px;
    position:absolute;
    border-bottom:var(--border-circle-color);
    -webkit-animation:var(--animation-circle);
    animation:var(--animation-circle);
 
 
}

.first-section{
    position: relative;
    top: 100px;
    width: 100vw;
   
}
.section-one,.section-two,.section-three,.large-container{
    margin: 10px;
    width: 95vw;

}
.works{
    overflow: hidden;
}
div {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }


.main-nav{
    display: flex;
    width: var(--width);
    margin: var(--ten-px);
    margin-top: 30px;
    justify-content: space-between !important;
    padding: var(--ten-px);
}
.hamburger{
    background:none;
    margin: var(--margin);
    margin-top: var(--ten-px);
    width: 10vw;
    padding: 0;
}
.first-text{
    font-style: italic;
    margin: var(--margin);
    padding: 12px 0;
    font-size: 16px;
}
nav{
    margin:var(--margin);

    display: flex;
    justify-content: space-between;
}
.cancel{

justify-content: flex-end;
    padding: 1em;
}
.mobile-view{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    margin: 0;
}
.mobile-list{
    display:none;
    flex-direction: column;
    padding: 1em;
    line-height: 5em;
    width: var(--width);
    margin: var(--margin);
    height: 114vh;
    position: relative;
    
    background-color: #ffffff;
    list-style: none;

}
li, i{
    cursor: pointer;
}
.nav-list{
    display: flex;
    flex-direction: column;
    margin: 12px;
    font-size: 1.5em;
    font-weight: 600;
}
li:hover{
    transform: translateX(20px);
    transition: 0.5s ease-out;
    color: darkmagenta;
}
.desktop-view{
    display: none;
}
.top-text{
    font-size: 2em;
    margin: var(--margin);
}
.intro-text{
    margin: var(--ten-px);
    padding: var(--ten-px);
    font-style: normal;
    font-size: 21px;

}
.section-two{
    margin: 15px;
}
i{
    font-style: normal;
}
.btn-one{
    display: flex;
    flex-direction: row;
    margin: var(--ten-px) 0px;
    padding: 14px 18px;
    background-color: #FFFFFF;
    color: rgba(62, 19, 62, 0.973);
    border: 1px solid rgba(62, 19, 62, 0.973);
    border-radius: 5px;
}

.btn-one:hover{
    color: white;
    background-color: rgba(62, 19, 62, 0.973);
    transition: 0.5s ease-in;
    --webkit-transition: 0.5s ease-in;
 
}
.hovered{

    position: relative;
    -webkit-animation-name: wait;
    -webkit-animation-duration: 0.5s;
    animation-name: wait !important;
    animation-duration: 0.5s !important;
    animation-timing-function: linear;
    transition: ease-out;


}


@keyframes wait {
    0%  {  left:0px; top:0px;}
    25%  { left:50px; top:0px;}

    100% { left:0px; top:0px;}
}

    @-webkit-keyframes wait {
        0%  {  left:0px; top:0px;}
          25%  { left:50px; top:0px;}

          100% { left:0px; top:0px;}
      }

     

.symbol{
    display: flex;
    margin: var(--margin), var(--ten-px);
    width: 30px;
  
}
.introduction{
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(62, 19, 62, 0.973);
    margin: var(--margin);
    padding: 0;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  .section-three{
      display: flex;
      justify-content: center;
      /* border: 2px solid blue; */
  }
.one{
    display: flex;
    justify-content: center;
    height: 27vh;
    /* border: 2px brown solid; */
    border-radius: 40%;
}
.two{
    width: 30vw;
    display: flex;
    justify-content: center;
    vertical-align: top;
}

.image{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.four{
    background: url(./images/30457897.jpg) no-repeat fixed 50%;
    background-position-x: 50%;
    font-family: 'Raleway', sans-serif;

}
.five{
    background: url(./images/29251904.jpg) no-repeat fixed;
    background-size: cover;
    background-position-x: 50%;
    font-family: 'Raleway', sans-serif;

}
.six{
    background: url(./images/32303659.jpg) no-repeat fixed 50%;
    background-position-y: 200px;
    background-position-x: 34%;
    font-family: 'Raleway', sans-serif;

}
.four, .five, .six{
    width: 98%;
    height: 50vh;
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
    margin-bottom:12px;

}
.overlay {
    background: rgba(0, 0, 0, 0.393);
    --webkit-background:rgba(0, 0, 0, 0.393);
    overflow: hidden;
    height: 100%;
    width: var(--width-percentage);
    display: flex;
    flex-direction: column;

   }
   h3, p{
    margin: 25px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

   }
h4{
    color: white;
    font-size: 30px;
}

.img-one{

    width: 90vw;
    height: 50vh;
    object-fit: cover;
    opacity: 0.5;

}
.img{
    width: var(--width-percentage);
    border-radius: var(--ten-px);
}
.projects-one, .projects-two, .projects-three{
    display: flex;
    flex-direction: column;
    margin: 15px;

}
h2{
    font-size: 2em;
    font-weight: 600;
    margin: var(--ten-px);
}
.projects-one-container{
    margin:var(--ten-px);
    margin-bottom: 40px;
}
.projects-two, .projects-three, .para{
    display: none;

}
.project-name{
    color: black;
    font-size: 1.3em;
    cursor: pointer;

}
 .project-about, .project-devices, .show{
    font-size: 1.1em;
    margin:  15px 0;
    cursor: pointer;
    display: block;
}
.show{
    display: none;
}
.second-section{
    margin-top: 100px;
    
}



.button{  position: relative;
  
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.i{
    font-style: normal;
    background-color: rgba(177, 15, 227, 0.502);
    border-radius: 15px;
    padding: 15px;
    margin: var(--ten-px);
    color: #FFFFFf;
}

@keyframes hmm {
    0% {transform: rotate(100deg);}
    100% {transform: rotate(360deg);}
  }
.animation-button{
      background: local;
      border: none;
      color: #FFFFFf;
  }
.animation-button:hover{
    animation: hmm 1s 1;
    color: black;
    cursor: pointer;
    border: none;
    background:none;
}
#second-loader, #third-loader{
    display: none;
}
#dom{
    display: none;
}
.testimonials{
    padding: 1em;
    background-color: #6c5186;
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
.test{
    color: black;
    margin: var(--margin);
    font-size: 1em;
}

.title{
    margin: var(--margin);
    padding: 12px 0;
    font-size: 2.5em;
    max-width: 200px;
    font-weight: 700;

}
.text, .text-two, .text-three{
    margin:var(--margin);
    font-size: 1em;

}
.arrow{
    padding: 0.5em;
    text-align: right;
}
span{
    cursor: pointer;
}
.john{

    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 600;
}
.previous:hover, .next:hover{
background-color: rgba(102, 70, 120, 0.404);
padding: 5px;
transition: 0.3s;
border-radius: 50%;
}

.slides{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
   from {transition: 0.7s ease-in; color: black; }
    to {transition: 1.2s ease-out; color: white;}


  }
  footer{
    background-color: black;
  }
 .footer-contents, .rights{
    font-size: 16px;
  }
  .foot{
 color: #ffff;
 max-width: 300px;
  }
  .copyright{
      padding:var(--margin);
  }
  hr{
      padding: var(--margin);
  }

  .talk{
      font-size: 1em;
      margin: var(--margin);
  }
  .rights, .footer-contents{
    margin: var(--margin);
  }
  .contact{
      background-color: black;
      border-radius: 3px;
      border: var(--border-circle-white);
      color: #FFFFFF;
      padding: 1em;

  }

  @keyframes arrow {
    0%  { left:0px; top:0px;}
    25%  { left:30px; top:0px;}

    100% { left:0px; top:0px;}
  }
   .arrow-two:hover{
position: relative;
      color: black;
      animation: arrow 1s 1;
  }
  .top-footer{
      padding: var(--one-padding);
  }
  .bottom{
    padding: var(--one-padding);
    color: #FFFFFF;
    font-size: 12px;
  }


